{% extends 'base.html' %}
{% block content %}
  <div class="row">

    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
      <div class="card user-card">
        <div>
          <div class="image-wrapper">
            <img src="{{ g.user.header_image_url }}" alt="" class="card-hero">
          </div>
          <a href="/users/{{ g.user.id }}" class="card-link">
            <img src="{{ g.user.image_url }}"
                 alt="Image for {{ g.user.username }}"
                 class="card-image">
            <p>@{{ g.user.username }}</p>
          </a>
          {% if g.user.bio %}
            <p class="card-bio">{{ g.user.bio }}</p>
          {% else %}
            <p class="card-bio">No bio</p>
          {% endif %}
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Messages</p>
              <h4>
                <a href="/users/{{ g.user.id }}">
                  {{ g.user.messages | length }}
                </a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Following</p>
              <h4>
                <a href="/users/{{ g.user.id }}/following">
                  {{ g.user.following | length }}
                </a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Followers</p>
              <h4>
                <a href="/users/{{ g.user.id }}/followers">
                  {{ g.user.followers | length }}
                </a>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </aside>

    <div class="col-lg-6 col-md-8 col-sm-12">
      <ul class="list-group" id="messages">
        {% if messages %}
          {% for msg in messages %}
            <li class="list-group-item">
              <a href="/messages/{{ msg.id }}" class="message-link"/>
              <a href="/users/{{ msg.user.id }}">
                <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
              </a>
              {% if g.user.id != msg.user.id %}
              <!-- TODO: simplify 63, just check if msg in g.user.liked_messages -->
              {% if msg.id in g.user.liked_messages|map(attribute='id') %}
                <form method="POST" action="/messages/{{ msg.id }}/unlike">
                      {{ g.csrf_form.hidden_tag() }}
                      <button class="bg-transparent border-0" type="submit">
                        <i class="bi bi-star-fill messages-like"></i>
                      </button>
                </form>
              {% else %}
                <form method="POST" action="/messages/{{ msg.id }}/like">
                  {{ g.csrf_form.hidden_tag() }}
                  <button class="bg-transparent border-0" type="submit">
                    <i class="bi bi-star messages-like"></i>
                  </button>
                </form>
              {% endif %}
              {% endif %}
              <div class="message-area">
                <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
                <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
                <p>{{ msg.text }}</p>
              </div>
            </li>
          {% endfor %}
        {% else %}
          <div class="alert alert-primary" role="alert">
            You haven't created a post or followed anyone that have created a post!
          </div>
        {% endif %}
      </ul>
    </div>

  </div>
{% endblock %}
